#img-link {
	padding-top: 5px;
	padding-bottom: 5px;
}

.jumbotron {
	padding-bottom: 0px;
	border-bottom: 1px solid #dbdbdb;
}

.jumbotron .container {
	padding-left: 84px;
	padding-right: 84px;
}

.content {
	text-align: center;
}

.content h2 {
	color: #90C000;
}

.content p {
	color: #404040;
}